<!DOCTYPE html>
<html ng-app>
<head>
	<title>Yo</title>
	<link rel="stylesheet" href="df/bootstrap.min.css"></link>
	<link rel="stylesheet" href="df/bootstrap-theme.min.css"></link>
	<link rel="stylesheet" type="text/css" href="df/jquery.jqplot.css" />
	<script type="text/javascript" src="df/jquery.min.js"></script>
	<script type="text/javascript" src="df/bootstrap.min.js"></script>
	<script type="text/javascript" src="df/angular.min.js"></script>
	<script type="text/javascript" src="df/jquery.jqplot.min.js"></script>
	<script type="text/javascript" src="df/excanvas.min.js"></script>
	<script type="text/javascript" src="df/angular.min.js"></script>
	<script type="text/javascript" src="df/angular.min.js"></script>
	
	<script type="text/javascript">
		$scope.Math = window.Math;
		function reduce(numerator,denominator){
		  var gcd = function gcd(a,b){
			return b ? gcd(b, a%b) : a;
		  };
		  gcd = gcd(numerator,denominator);
		  return [numerator/gcd, denominator/gcd];
		}
	</script>
</head>
<body>			
			<br><br>
			  <div class="col-md-6"><input type="number" id="x1" class="form-control" placeholder="X" ng-model="x1"></div>
			  <div class="col-md-6"><input type="number" id="y1" class="form-control" placeholder="Y" ng-model="y1"></div>
			  <br><br>
			  <div class="col-md-6"><input type="number" id="x2" class="form-control" placeholder="X" ng-model="x2"></div>
			  <div class="col-md-6"><input type="number" id="y2" class="form-control" placeholder="Y" ng-model="y2"></div>
			  <br><br><br><br>
			  <div class="col-md-6"><h1>({{x1}},{{y1}})</h1></div>
			  <div class="col-md-6"><h1>({{x2}},{{y2}})</h1></div><br><br>
			  <div class="col-md-6"><h3>Slope: <span id="slope"></span></h3></div>
			  <div class="col-md-6"><h3>Distance: &radic;<span style="text-decoration:overline;">({{x1}} - {{x2}})&#178;  + ({{y1}} - {{y2}})&#178;</span> =  &radic;<span style="text-decoration:overline;">{{(x1-x2)*(x1-x2) + (y1-y2)*(y1-y2)}}</span> = <span id="sqrt"></span></h3></div>
			  <div class="col-md-12"><h1>Distance formula: &radic;<span style="text-decoration:overline;">(x&#8321;-x&#8322;)&#178; + (y&#8321;-y&#8322;)&#178;</span></h1></div>
	<script type="text/javascript">
		$('input').keyup(function() {
			x1 = $('#x1').val();
			y1 = $('#y1').val();
			x2 = $('#x2').val();
			y2 = $('#y2').val();
			slope = reduce(y1-y2,x1-x2);
			$('#slope').html(slope[0] + "/" + slope[1]);
			$('#sqrt').html(Math.sqrt((x1-x2)*(x1-x2) + (y1-y2)*(y1-y2)));
		});
	</script>
</body>
</html>